<!DOCTYPE html>
<html lang="en">
<head>
    <title>FSE Chat Room</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/loginPage.css">
</head>
<body>
    <h1>FSE Chat Room</h1>
    <form id="loginForm" autocomplete="off">
        <label for="username">Username</label>
        <input type="text" id="username"/>
        <label for="password">Password</label>
        <input type="password" id="password"/>
        <div id="buttonsContainer">
            <input type="button" id="loginButton" value="Login"/>
            <input type="button" id="registerButton" value="Register"/>
        </div>
    </form>
<script src="js/login.js"></script>
</body>
</html>